.venv/

*.pyc
__pycache__/

.env

instance/

.pytest_cache/
.coverage
htmlcov/

dist/
build/
*.egg-info/
/registration-64a55-5bc901cf90b6.json
/registration-64a55-firebase-adminsdk-fbsvc-4ba297b537.json
/config.py
/www.geekmorolekon.ru_private.txt
/www.geekmorolekon.ru_certificate.txt
