.venv/

*.pyc
__pycache__/

.env

instance/

.pytest_cache/
.coverage
htmlcov/

dist/
build/
*.egg-info/

/registration-64a55-firebase-adminsdk-fbsvc-8015080d81.json

doc_2025-06-25_20-32-30.env
registration-64a55-firebase-adminsdk-fbsvc-e0be139804.json
doc_2025-06-25_20-32-30.env
registration-64a55-firebase-adminsdk-fbsvc-e0be139804.json
doc_2025-06-25_20-32-30.env
registration-64a55-firebase-adminsdk-fbsvc-e0be139804.json
doc_2025-06-25_20-32-30.env
doc_2025-06-25_20-32-30.env
