{box-sizing: border-box}


.rightbtn{
    top:5px;
    right:5px;
    width:200;
    height:100;
    position:fixed;
}

.form-popup {
  display: none;
  position: fixed;
  bottom: 0;
  right: 15px;
  border: 3px solid #f1f1f1;
  z-index: 9;
}

.form-container {
  max-width: 300px;
  padding: 10px;
  background-color: white;
}


.form-container input[type=text], .form-container input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

/* When the inputs get focus, do something */
.form-container input[type=text]:focus, .form-container input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/login button */
.form-container .btn {
  background-color: #04AA6D;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container .btnclose {
  background-color: red;
}

/* Add some hover effects to buttons */
.form-container .subbtn:hover, .rightbtn:hover {
  opacity: 1;
}


.regbtn {
display: inline-block;
height: 40;
width: 120;
padding: 10px 10px;
background-color: #F77E7E;
color: white;
text-decoration: none;
border-radius: 4px;
font-family: Arial, sans-serif;
font-size: 16px;
}

.sec1 {
display: inline-block;
height: 70;
width: 70;
padding: 10px 10px;
background-color: #F77E7E;
color: white;
text-decoration: none;
border-radius: 4px;
font-family: Arial, sans-serif;
font-size: 16px;
}

.sec1dropdown {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.sec2 {
display: inline-block;
height: 70;
width: 70;
padding: 10px 10px;
background-color: #F77E7E;
color: white;
text-decoration: none;
border-radius: 4px;
font-family: Arial, sans-serif;
font-size: 16px;
}

.sec3 {
display: inline-block;
height: 70;
width: 70;
padding: 10px 10px;
background-color: #F77E7E;
color: white;
text-decoration: none;
border-radius: 4px;
font-family: Arial, sans-serif;
font-size: 16px;
}