{box-sizing: border-box}


.center-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh; 
    text-align: center;
}

/* кнопка входа */
.signin-btn{
    top:5px;
    right:5px;
    width:200;
    height:100;
    border: none;
    position: fixed;
    cursor: pointer;
    transition: background 0.2s;
}

.signin-btn:hover {
    background-color: #d95c5c;
}

.form-popup {
  display: none;
  position: fixed;
  bottom: 0;
  right: 15px;
  border: 3px solid #f1f1f1;
  z-index: 9;
}

.form-container {
  max-width: 300px;
  padding: 10px;
  background-color: white;
}


.form-container input[type=text], 
.form-container input[type=password], 
.form-container input[type=email] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
  box-sizing: border-box;
}


.form-container input[type=text]:focus, 
.form-container input[type=password]:focus,
.form-container input[type=email]:focus {
  background-color: #ddd;
  outline: none;
}


.form-container .btn {
  background-color: #04AA6D;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}


.form-container .btnclose {
  background-color: red;
}


.form-container .subbtn:hover, .signin-btn:hover {
  opacity: 1;
}

/* кнопка регистрации */
.regbtn {
display: inline-block;
height: 40;
width: 120;
padding: 10px 10px;
background-color: #F77E7E;
color: white;
text-decoration: none;
border-radius: 4px;
border: none;
font-family: Arial, sans-serif;
font-size: 16px;
cursor: pointer;
transition: background 0.2s;
}

.regbtn:hover {
    background-color: #d95c5c;
}


/* контейнер кнопок в горизонтальный ряд */
.section-row {
    display: flex;
    gap: 25px;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}

/* кнопки секций */
.section-btn {
    display: inline-block;
    height: 50px;
    width: 120px;
    padding: 10px;
    background-color: #F77E7E;
    color: white;
    text-decoration: none;
    border-radius: 4px;
    font-family: Arial, sans-serif;
    font-size: 16px;
    border: none;
    cursor: pointer;
    transition: background 0.2s;
}

.section-btn:hover {
    background-color: #d95c5c;
}

/* выкидной текст */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    padding: 16px;
}

.dropdown-content p {
    margin-bottom: 12px; 
    text-align: center;   
}