<!DOCTYPE html>
<html>
<head>
   <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}"> 
</head>
<body>


<button class="signin-btn" id="Enter">Войти</button>

<div class="form-popup" id=EnterForm>
    <form class="form-container" method="POST" id="enterForm">
        <label for="email"><b>Email</b></label>
        <input type="email" placeholder="Введите email" name="email" id="email" required>

        <p id="error"></p>

        <label for="password"><b>Пароль</b></label>
        <input type="password" placeholder="Введите пароль" name="password" id="password" required>


        <button type="submit" class="subbtn">Войти</button>
        <button type="button" class="btnclose" id="EnterClose">Закрыть</button>
    </form>
</div>


<div class="form-popup" id="RegForm">
    <form id=regForm class="form-container" method="POST" action="/register">

        <label for="name"><b>Имя</b></label>
        <input type="text" placeholder="Введите ваше имя" name="name" required>

        <label for="email"><b>Email</b></label>
        <input type="email" placeholder="Введите email" name="email" required>

        <label for="password"><b>Пароль</b></label>
        <input type="password" placeholder="Введите пароль" name="password" required>


        <button type="submit" class="subbtn">Зарегистрироваться</button>
        <button type="button" class="btnclose" id="RegClose">Закрыть</button>
    </form>
</div>


<!--главная часть страницы -->

<div class="center-container">
    <h1 style="text-align: center; vertical-align: middle;">Здесь могло бы быть наше название</h1>

    <p>
        <em>
            <span style="text-decoration: underline;">Кто мы?</span><br />
        </em>
    </p>

    <p><em>Пока не знаем, но здесь могло бы быть ваше описание. Хочешь к нам? Скорее регистрируйся&nbsp;&darr;</em></p>
    <p>&nbsp;</p>


    <button class="regbtn" id="Registration">Регистрация</button>

    <br />
    
    <!-- кнопки секций -->
    <div class="section-row">
        <div class="dropdown">
            <button class="section-btn dropdown-btn">Секция 1</button>
            <div class="dropdown-content">
                <p>Описание 1</p>
                <button class="section-btn">Записаться</button>
            </div>
        </div>

        <div class="dropdown">
            <button class="section-btn dropdown-btn">Секция 2</button>
            <div class="dropdown-content">
                <p>Описание 2</p>
                <button class="section-btn">Записаться</button>
            </div>
        </div>

        <div class="dropdown">
            <button class="section-btn dropdown-btn">Секция 3</button>
            <div class="dropdown-content">
                <p>Описание 3</p>
                <button class="section-btn">Записаться</button>
            </div>
        </div>

    </div>

</div>


<script src="{{url_for('static', filename='js/sc.js')}}"></script>
</body>
</html>
