<!DOCTYPE html>
<html>
<head>
   <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}"> 
</head>
<body>

<!-- плашка (шапка) сверху сайта -->
<div class="fixed-header">
    <a href="/" class="header-title">Добро пожаловать на сайт!</a>
    <div class="header-buttons">
        <button class="to-sections-btn" id="toSectionsBtn">К секциям</button>
        <img src="profile.svg" alt="Иконка профиля">
        <button class="funcbtn" id="Enter">Войти</button>
        <button class="funcbtn" id="exitBtn" style="display: none" >Выйти</button>
    </div>
</div>

{% if is_admin %}
<button class="funcbtn fixed-btn" id="createSection">Создать</button>
{% endif %}



<div class="form-popup" id=EnterForm>
    <form class="form-container" method="POST" id="enterForm">
        <label for="email"><b>Email</b></label>
        <input type="email" placeholder="Введите email" name="email" id="email" required>

        <p id="NotInDatabase"></p>

        <label for="password"><b>Пароль</b></label>
        <input type="password" placeholder="Введите пароль" name="password" id="password" required>
        <p id="UnmatchedPasswords"></p>


        <button type="submit" class="subbtn">Войти</button>
        <button type="button" class="btnclose" id="EnterClose">Закрыть</button>
    </form>
</div>


<div class="form-popup" id="RegForm">
    <form id=regForm class="form-container" method="POST" action="/register">

        <label for="name"><b>Имя</b></label>
        <input type="text" placeholder="Введите ваше имя" name="name" id="regName" required>

        <label for="email"><b>Email</b></label>
        <input type="email" placeholder="Введите email" name="email" id="regEmail" required>

        <p id="InDatabase"></p>

        <label for="password"><b>Пароль</b></label>
        <input type="password" placeholder="Введите пароль" name="password" id="regPassword"required>


        <button type="submit" class="subbtn">Зарегистрироваться</button>
        <button type="button" class="btnclose" id="RegClose">Закрыть</button>
    </form>
</div>



<div class="form-popup" id="CreateSectionForm">
    <form id=createSectionForm class="form-container" method="POST" action="/createSection">

        <label for="name"><b>Название</b></label>
        <input type="text" placeholder="Введите название секции" name="name" id="name" required>

        <label for="description"><b>Описание</b></label>
        <input type="description" placeholder="Введите описание" name="description" id="description" required>

        <label for="counter"><b>Кол-во человек</b></label>
        <input type="counter" placeholder="Введите кол-во человек" name="counter" id="counter" required>


        <button type="submit" class="subbtn">Создать</button>
        <button type="button" class="btnclose" id="CreateSectionFormClose">Закрыть</button>
    </form>
</div>


<!--главная часть страницы -->

<div class="center-container">
    <h1 style="text-align: center; vertical-align: middle">Здесь могло бы быть наше название</h1>

    <p>
        <em>
            <span style="text-decoration: underline;">Кто мы?</span><br />
        </em>
    </p>

    <p><em>Пока не знаем, но здесь могло бы быть ваше описание. Хочешь к нам? Скорее регистрируйся&nbsp;&darr;</em></p>
    <p>&nbsp;</p>


    <button class="funcbtn" id="Registration">Регистрация</button>

    <br />


</div>


    
    <!-- кнопки секций -->

<div id="sections" class="cards-container">
    {% for item in data %}
    <div class="card">
        <button class="section-btn dropdown-btn">{{ item.name }}</button>
        <div class="dropdown-content">
            <div class="card-details">
                <p>Описание: {{ item.description }}</p>
                <p>Количество: {{ item.counter }}</p>
            </div>
            <button class="section-btn enroll-btn">Записаться</button>
        </div>
    </div>
    {% else %}
    <div class="no-data">
        <p>Нет данных</p>
    </div>
    {% endfor %}
</div>





<script src="{{url_for('static', filename='js/sc.js')}}"></script>
</body>
</html>
